<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>
        <%= nome %>
    </title>
</head>

<body>
    <h1>Bem vindo a API do
        <%= nome %>
    </h1>
    <h3>Utilize os pontos de acesso <a href="/games/">games/</a> e <a href="/games/id">games/id</a> para visualizar os games</h3>
</body>

</html>